.idea
cmake-build-debug
modules/Extra/BlenderPlugin/thirdparty/blender_autocomplete-master
modules/Extra/BlenderPlugin/batch/bdata/bin
modules/Extra/BlenderPlugin/batch/bdata/__pycache__
modules/Extra/BlenderPlugin/BlenderBatch/.gradle
modules/Extra/BlenderPlugin/BlenderBatch/build
docs/Simulations/.gradle
docs/Simulations/build
/Debug
/Release
.vs/HPMSAll
.vs
modules/Main/Runtime/resources/scripts.config
modules/Main/Runtime/resources/scripts.luaproj
